@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div>
        <b>Project:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusProject"]
    </div>
    <div>
        <b>Release:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusRelease"]
    </div>
    <div>
        <b>Environment:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusEnvironment"]
    </div>
</div>