@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <b>Project:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusProject"]
    <b>Release:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusRelease"]
    <b>Environment:</b> @System.Web.Configuration.WebConfigurationManager.AppSettings["OctopusEnvironment"]
</div>